{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "moj/components/banner/macro.njk" import mojBanner %}
{% from "../../partials/dataTable/macro.njk" import dataTable %}
{% from "../../partials/search.njk" import search %}

{% extends "../../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Home" %}

{% set deviceRows = [] %}

{% for device in devices %}
    {% set deviceRows = (deviceRows.push([
      {
        text: device.deviceId
      },
      {
        text: device.deviceType
      },
      {
        text: device.status
      },
      {
        text: device.dateTagFitted
      },
      {
        text: device.dateTagRemoved
      },
      {
        html: '<a href="/device/' + deviceWearer.deviceWearerId + '/' + device.deviceId +'">View</a>'
      }
    ]), deviceRows) %}
{% endfor %}

{% block beforeContent %}
  {{ govukBackLink({ href: "/device-wearers", text: "Back" }) }}
{% endblock %}

{% block content %}

  {%if isError %}

    {{ mojBanner({
      text: error,
      type: 'warning'
    }) }}

  {% endif %}

  <span class="govuk-caption-xl">{{ deviceWearer.deviceWearerId }}</span>
  <h1 class="govuk-heading-xl">{{ deviceWearer.firstName }} {{ deviceWearer.lastName }}</h1>

  {{ govukSummaryList({
    card: {
      title: {
        text: "Device wearer summary",
        headingLevel: 2
      },
      actions: {
        items: [
          {
            href: "#",
            text: "View all",
            visuallyHiddenText: "device wearer details"
          }
        ]
      }
    },
    rows: [
        {
        key: {
            text: "Device Wearer ID"
        },
        value: {
            text: deviceWearer.deviceWearerId
        }
        },
        {
        key: {
            text: "First Name"
        },
        value: {
            text: deviceWearer.firstName
        }
        },
        {
        key: {
            text: "Last Name"
        },
        value: {
            text: deviceWearer.lastName
        }
        },
        {
        key: {
            text: "Type"
        },
        value: {
            text: deviceWearer.type
        }
        }
    ]
  }) }}

  <h2>Devices</h2>

  {{
    dataTable({
      columns: ["Device ID", "Device Type", "Status", "Date Tag Fitted", "Date Tag Removed", "Actions"],
      rows: deviceRows
    })
  }}

{% endblock %}