{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "moj/components/banner/macro.njk" import mojBanner %}
{% from "moj/components/search/macro.njk" import mojSearch %}
{% from "../../partials/dataTable.njk" import dataTable %}
{% from "../../partials/search.njk" import search %}
{% extends "../../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Home" %}

{% set rows = [] %}

{% for deviceWearer in deviceWearers %}
    {% set rows = (rows.push([
      {
        text: deviceWearer.deviceWearerId
      },
      {
        text: deviceWearer.firstName
      },
      {
        text: deviceWearer.lastName
      },
      {
        text: deviceWearer.type
      },
      {
        html: '<a href="/device-wearers/id/' + deviceWearer.deviceWearerId + '">View</a>'
      }
    ]), rows) %}
{% endfor %}

{% block beforeContent %}
  {{ super() }}
  {{ govukBackLink({ href: "/", text: "Back" }) }}
{% endblock %}

{% block content %}

  {%if isError %}

    {{ mojBanner({
      text: error,
      type: 'warning'
    }) }}

  {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-6">
      {{ search({
          action: '',
          method: 'get',
          input: {
            id: 'search',
            name: 'search'
          },
          label: {
            text: "Search for a device wearer",
            classes: 'govuk-label--l'
          },
          hint: {
            text: "This search will attempt to match your whole input to any part of any field"
          },
          button: {
            text: 'Search'
          },
          value: searchTerm
        }) }}
    </div>
  </div>

  {{
    dataTable(
      ["Device Wearer ID", "First Name", "Last Name", "Type", "Actions"],
      rows
    )
  }}

{% endblock %}
