{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Error" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

  <h1>{{ errorMessage }}</h1>

{% endblock %}
