{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

  <h1>This site is under construction...</h1>

  <h2>Device Wearers</h2>
  {{ govukButton({
    text: "Show device wearers",
    href: "/device-wearers"
  }) }}
  {{ govukButton({
    text: "Search for a device wearer",
    href: "/device-wearers/search"
  }) }}

{% endblock %}
